*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  width: 80%;
  height: 60%;
}

.container img{
  width: 100%;
  object-fit: cover;
}